@import "config";

body {
  margin: 0;
  font: $body-font;
}

.flex-container {
  @include display-flex;
  flex-flow: row;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
}

main {
    background-color: white;
    flex: 1 100%;
}

header {
  background: $header-color;
  // flex: 1 100%;
  @include display-flex;
  align-items: center;
  -webkit-items-content: center;
  a {
    text-decoration: none;
    color: $icon-color;
    font-size: 4vmin;
  }
  #search-icon, #message-icon, #notification-icon, #login-icon {
    font-size: 4vmin;
  }
  a:first-child {
    margin-right: auto;
  }
}

// .footer {background: lightgreen;}
nav {
  background: $nav-color;
}

aside {
  background: $aside-color;
}

@media all and (min-width: 600px) {
  nav, aside {
    flex: 1 0px;
  }
}

@media all and (min-width: 800px) {
  nav {
    order: 1;
  }
  main {
    flex: 3 0px;
    order: 2;
  }
  // .main    { order: 2; }
  aside {
    order: 3;
  }
  // .footer  { order: 4; }
}
