@import "config";

body {
  margin: 0;
  font: $body-font;
}

.flex-container {
  @include display-flex;
  @include flex-flow(column);
  height: 100vh;  //100% vewport height
}

header#flex-header {
  background: $header-color;
  @include display-flex;
  align-items: center;
  -webkit-items-content: center;
  padding: 0 1vh;
  a {
    text-decoration: none;
    color: $icon-color;
    font-size: $menu-font-size;
    margin: 0 0.5vh;
  }
  #search-icon, #message-icon, #notification-icon, #login-icon {
    font-size: $menu-font-size;
  }
  a:first-child {
    margin-right: auto;
  }
}

section#flex-section {
  @include display-flex;
  @include flex-flow(column);
  flex: auto;
  main#flex-main {
      background: whitesmoke;
      flex: auto;
  }
  aside#flex-aside {
    background: $aside-color;
  }
  nav#flex-nav {
    background: $nav-color;
    @include display-flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $icon-color;
      font-size: $menu-font-size;
      padding: 3px;
    }
    #home-icon, #trend-icon, #explore-icon, #shop-icon, #more-icon {
      font-size: $menu-font-size;
    }
  }
}

@media all and (min-width: 600px) {
  section#flex-section {
    @include display-flex;
    @include flex-flow(row);
    nav#flex-nav {
      order: 1;
      @include display-flex;
      @include flex-flow(column);
      justify-content: flex-start;
    }
    main#flex-main {
      order: 2;
    }
    aside#flex-aside {
      order: 3;
    }
  }
}
