@import "config";

body {
  margin: 0;
  font: $body-font;
}

.flex-container {
  @include display-flex;
  @include flex-flow(column);
  height: 100vh;
}

header {
  background: $header-color;
  @include display-flex;
  align-items: center;
  -webkit-items-content: center;
  a {
    text-decoration: none;
    color: $icon-color;
    font-size: 4vmin;
  }
  #search-icon, #message-icon, #notification-icon, #login-icon {
    font-size: 4vmin;
  }
  a:first-child {
    margin-right: auto;
  }
}

section {
  @include display-flex;
  @include flex-flow(column);
  flex: auto;
  main {
      background: whitesmoke;
      flex: auto;
  }
  aside {
    background: $aside-color;
  }
  nav {
    background: $nav-color;
  }
}

@media all and (min-width: 600px) {
  section {
    @include display-flex;
    @include flex-flow(row);
    nav {
      order: 1;
    }
    main {
      order: 2;
    }
    aside {
      order: 3;
    }
  }
}
